/*
Colors used:
Primary Color (Blue): #466995;
Secondary Color (Green): #4F4F4F;
*/
  body {
  background-color: White;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 280;
  line-height: 1.8;
  color: #4F4F4F;
  }

  header {
    /*background-color: #B4C5E4;*/
    text-align: center;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.35);
    position: relative;
  }

  /*.container {
    max-width: 1200px;
  }    */

  main {
    padding-top: 133px;
    }

  * {
    box-sizing: border-box;
    }

  .row {
    margin: 25px 0;
    }

  #hero h1 {
      text-align: center; /*centers text*/
      }

  #hero p {
      text-align: center; /*centers text*/
      }

  .logo {
      max-width: 250;
      }

  nav > ul {
      list-style-type: none;
      padding: 0;
      }

  nav > ul > li {
      display: inline-block;
  }

  nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  }

  /*#hero {
  background-color: #ffe4c4;
  }*/

  #hero {
  /*background-color: #ffe4c4;*/
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  }

  /*main {
    padding: 10px;
    margin: 10px;
  }

  footer {
    padding: 10px;
    marging: 10px;
  }

  selector {
    width: 1200px;
  }

   */


  h1, h2, h3, h4 {
  line-height: 1.8;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/*logo sizing*/
#logo {
  width: 200px;
  height: auto;
}

#profileImage {
  width: 300px;
  height: auto;
}

#happify {
  width: 300px;
  height: auto;
}

#mindshift {
  width: 300px;
  height: auto;
}

img {
  width: 100%;
}

a {
    color: #466995;
    text-decoration: none; /* No underlining */
  }

  a:hover,
  a:focus {
    color: #466995;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #466995;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #466995; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
