/*
Colors used:
Primary Color (Blue): #466995;
Secondary Color (Green): #4F4F4F;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: White;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 280;
  line-height: 1.8;
  color: #4F4F4F;
}

header {
  /*background-color: #B4C5E4;*/
  padding: 10px 20px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.35);
  position: relative;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.8;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
    color: #466995;
    text-decoration: none; /* No underlining */
  }

a:hover,
  a:focus {
    color: #466995;
    text-decoration: underline; /* Underlining when hovering over a link */
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #466995;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid #466995; /* width of the border, type, color */
  transition: 0.2s opacity;
  }

.button:hover {
  background-color: #466995;
  color: #ffffff;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/*logo sizing*/
#logo {
  width: 200px;
  height: auto;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
    }

nav > ul > li > a {
padding: 0 15px;
text-transform: uppercase;
font-weight: 700;
color: #4a4a4a;
}

nav > ul > li > a:visited {
padding: 0 15px;
text-transform: uppercase;
font-weight: 700;
color: #4a4a4a;
}

nav > ul > li > a:hover {
padding: 0 15px;
text-transform: uppercase;
font-weight: 700;
color: #4a4a4a;
}

nav > ul > li > a:active {
padding: 0 15px;
text-transform: uppercase;
font-weight: 700;
color: #4a4a4a;
}

footer {
  text-align: center;
  padding: 10px 20px;
}

  /*.container {
    max-width: 1200px;
  }    */

main {
    padding-top: 0px;
}

#hero h1 {
    text-align: center; /*centers text*/
    }

#hero p {
    text-align: center; /*centers text*/
    }


.row {
    margin: 25px 0;
}



  /*#hero span {
      display: block;
      }*/

  .logo {
      max-width: 150px;
      padding: 0;
      }




  /*#hero {
  background-color: #ffe4c4;
  }*/

  #hero span {
  /*background-color: #ffe4c4;*/
  padding: 20px 0;
  display: block;
  width: 100%;
  }

  /*main {
    padding: 10px;
    margin: 10px;
  }

  footer {
    padding: 10px;
    marging: 10px;
  }

  selector {
    width: 1200px;
  }

   */


#profileImage {
  width: 300px;
  height: auto;
}

#happify {
  width: 300px;
  height: auto;
}

#mindshift {
  width: 300px;
  height: auto;
}





  ul {
  list-style-type: none;
  text-align: center;
  margin: 15px;
  padding: 15px;
}

#skillset ul {
  margin: 0px;
  padding: 0px;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}




/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #skillset h3 { margin-top: 0;}

  #about-me h2 {
    text-align: center;
    margin-top: 0;
  }

  #skillset h2 {
    text-align: center;
    margin-top: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  .logo {
      max-width: 150px;
      }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

}





/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .navtoggle li:last-child {
    display: none;
  }

}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  .navtoggle li:last-child {
    display: none;
  }

}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  .navtoggle li:last-child {
    display: none;
  }

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#animation {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: center;
  display: block;
}
